In [39]:
import numpy as np
import pandas as pd
import matplotlib.pylab as plot
import seaborn as sns
from sklearn.ensemble import IsolationForest
plot.style.use('ggplot')
pd.set_option("display.max_columns", 200)

In [40]:
data_frame = pd.read_csv('Data/dhcp.csv')

In [49]:
# Shape of the data frame, (rows, columns)
data_frame.shape

(1502, 10)

In [50]:
data_frame.columns

Index(['ts', 'uid', 'id.orig_h', 'id.orig_p', 'id.resp_h', 'id.resp_p', 'mac',
       'assigned_ip', 'lease_time', 'trans_id'],
      dtype='object')

In [41]:
data_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1502 entries, 0 to 1501
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ts           1502 non-null   float64
 1   uid          1502 non-null   object
 2   id.orig_h    1502 non-null   object
 3   id.orig_p    1502 non-null   int64
 4   id.resp_h    1502 non-null   object
 5   id.resp_p    1502 non-null   int64
 6   mac          1502 non-null   object
 7   assigned_ip  1502 non-null   object
 8   lease_time   1502 non-null   float64
 9   trans_id     1502 non-null   int64
dtypes: float64(2), int64(3), object(5)
memory usage: 117.5+ KB

In [52]:
# Type of column
data_frame.dtypes

ts             float64
uid             object
id.orig_h       object
id.orig_p        int64
id.resp_h       object
id.resp_p        int64
mac             object
assigned_ip     object
lease_time     float64
trans_id         int64
dtype: object

In [54]:
# Shows headers
data_frame.head(5)

,ts,uid,id.orig_h,id.orig_p,id.resp_h,id.resp_p,mac,assigned_ip,lease_time,trans_id
0,1.331901e+09,CCHNFI4C6RAO93bP7,192.168.202.76,68,192.168.202.1,67,00:26:9e:83:a2:30,192.168.202.76,0.0,2767872470
1,1.331901e+09,CouYOF1J4EnQkQNSl3,192.168.204.69,68,192.168.204.1,67,00:26:b9:da:95:2c,192.168.204.69,0.0,2023309577
2,1.331901e+09,C9svD93TrEvPshF7Gf,192.168.202.102,68,192.168.202.1,67,f0:de:f1:2e:6a:5a,192.168.202.102,0.0,7111068
3,1.331901e+09,C2nAD54rXz5nILppHh,192.168.202.76,68,192.168.202.1,67,00:26:9e:83:a2:30,192.168.202.76,0.0,4022009768
4,1.331901e+09,CVRJN6491gIrhKWzHk,192.168.204.69,68,192.168.204.1,67,00:26:b9:da:95:2c,192.168.204.69,0.0,3428947570

In [55]:
data_frame.describe()

                 ts  id.orig_p  id.resp_p    lease_time      trans_id
count  1.502000e+03     1502.0     1502.0   1502.000000  1.502000e+03
mean   1.331956e+09       68.0       67.0  21053.528628  2.131450e+09
std    4.296634e+04        0.0        0.0  37103.778477  1.234647e+09
min    1.331901e+09       68.0       67.0      0.000000  1.196690e+05
25%    1.331916e+09       68.0       67.0      0.000000  1.114131e+09
50%    1.331935e+09       68.0       67.0      0.000000  2.144179e+09
75%    1.331999e+09       68.0       67.0      0.000000  3.143698e+09
max    1.332017e+09       68.0       67.0  86400.000000  4.292546e+09

In [43]:
anomaly_inputs = ['ts', 'id.orig_h', 'id.orig_p', 'id.resp_h', 'id.resp_p', 'mac', 'assigned_ip', 'lease_time', 'trans_id']

In [44]:
if_model = IsolationForest(contamination=0.1, random_state=42)

In [45]:
#if_model.fit(data_frame[anomaly_inputs])